<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<div>
		{% if user.is_authenticated %}
		    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
		    <p> You have last logged in at: 
			<strong>{{ user.last_login }}</p></strong>
		{% endif %}	
	</div>
        <h2>Post</h2>
        <div class="post">
		<p><strong> User {{ user.username }} posted <br></strong>{{ post.post }} </p>
        </div>
        <h2>Comments</h2>
        <div class="comments">
                <ul>
			{% for comment in post.comment_set.all %}
			<li><strong>{{ comment.username }}</strong> <span>{{ comment.comment }}</span></li>
                        {% endfor %}
                </ul>
        </div>
        
        <div class="commentform">
                <form action="" method="post"> {% csrf_token %}
                        <label for="comment"></label>
                        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
                        <div class="submit">
                                <input type="submit" />
                                <span><a href="/post/">Back to posts</a></span>
                        </div>
                </form>
        </div>
        
        <div class="logout">
                <form action="/post/logout/" method="post">
                        <input type="submit" value="logout" name="logout" />
                </form>
        </div>
</body>
</html>
